[class *= "col"]{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px red;
    align-content: center;
    justify-content: center;
    padding-bottom: 10%;
}

[class *= "container"]{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px red;
    align-content: center;
    justify-content: center;
    padding-bottom: 10%;
}

.imgen{
    width: 100px;
    height: 100px;
}

